@font-face {
    font-family: Rubik;
    src: url(../../assets/fonts/rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: Coolvetica;
    src: url(../../assets/fonts/coolvetica/coolvetica\ rg.otf);
}

.Schedule h1{
    font-family: Coolvetica;
    margin-bottom: 3%;
    font-size: 3.25em;
    margin-left: 10%;
    font-weight: normal;
}
.Schedule{
    background-color:#3b477a;
    padding-bottom:60px;
}

.scheduleTitle{
    color:#FFFFFF;
    font-family: Coolvetica;
    margin-bottom: 3%;
    padding-top: 3%;
    font-size: 3.25em;
    margin-left: 10%;
    font-weight: normal;
}

.eventMonth{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size:25px;
    font-weight: normal;
    color: #FFFFFF;
    font-family: Coolvetica;
}

.eventDay{
    margin-left: auto;
    margin-right: auto;
    font-size:75px;
    font-weight: normal;
    color: #FFFFFF;
    font-family: Coolvetica;
}

.eventTitle{
    font-size:30px;
    font-weight:normal;
    color:#FFFFFF;
    text-align: left;
    font-family: Coolvetica;
    letter-spacing: 0.1em;
}

.event{
    width:'20%';
    border-radius:'10px';
    border-width:'3px';
    border-color: #FFFFFF;
}

.eventStack{
    flex-wrap: wrap;
}

.Center{
    display: flex;
    justify-content: center;
}

.eventDesc{
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 18px;
}
