@font-face {
    font-family: Coolvetica;
    src: url(./assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf);
  }

.Schedule{
    background-color:#3b477a;
    font-family: 'Coolvetica';
    padding-bottom:60px;
}

.scheduleTitle{
    font-size:30px;
    font-weight: bold;
    margin-right: 1505px;
    padding-top:30px;
    padding-left:30px;
    color:#FFFFFF;
}

.eventMonth{
    margin: 15px 0px 0px 0px;
    font-size:20px;
    font-weight: bold;
    color: #FFFFFF;
}

.eventDay{
    margin: 0px 0px 10px 0px;
    font-size:75px;
    font-weight: bold;
    color: #FFFFFF;
}

.eventTitle{
    font-size:25px;
    font-weight:bold;
    color:#FFFFFF;
    text-align: left;
}

.event{
    width:'20%';
    border-radius:'10px';
    border-width:'3px';
    border-color: #FFFFFF;
}

.eventStack{
    flex-wrap: wrap;
}

.Center{
    display: flex;
    justify-content: center;
}
