.schedule h1 {
	font-family: Coolvetica;
	margin-bottom: 3%;
	font-size: 3em;
	margin-left: 10%;
	font-weight: normal;
}

.schedule {
	/* Note: there are also colors in the MUI in .Schedule.jsx */
	--background-color: var(--medium-primary-color);
	--title-color: var(--light-color);
	--event-month-color: var(--light-color);
	--event-day-color: var(--light-color);
	--event-title-color: var(--light-color);
	--event-border-color: var(--light-color);
	--event-desc-color: var(--light-color);
	--event-subtitle-color: var(--light-color);

	background-color: #3b477a;
	padding-bottom: 60px;
	background-image: url(/SVGs/snowflake1.svg), url(/SVGs/snowflake2.svg), url(/SVGs/xGroup.svg);
	background-repeat: no-repeat;
	background-position: left 50px, right 400px, top 100px right 100px;
	background-size: 10%, 8%, 2%;
}

.scheduleTitle {
	color: var(--title-color);
	font-family: Coolvetica;
	margin-bottom: 3%;
	padding-top: 3%;
	font-size: 3.25em;
	margin-left: 10%;
	font-weight: normal;
}

.buttonText {
	font-family: Rubik;
	margin: auto;
	font-weight: bold;
	font-size: 15px;
}

.eventMonth {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size: 25px;
	font-weight: normal;
	color: var(--event-month-color);
	font-family: Coolvetica;
}

.eventDay {
	margin-left: auto;
	margin-right: auto;
	font-size: 75px;
	font-weight: normal;
	color: var(--event-day-color);
	font-family: Coolvetica;
}

.eventTitle {
	font-size: 30px;
	font-weight: normal;
	color: var(--event-title-color);
	text-align: left;
	font-family: Coolvetica;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.event {
	width: "20%";
	border-radius: "10px";
	border-width: "3px";
	border-color: var(--event-border-color);
}

.eventStack {
	flex-wrap: wrap;
}

.center {
	display: flex;
	justify-content: center;
}

.eventDesc {
	color: var(--event-desc-color);
	font-family: Rubik;
	font-size: 16px;
	margin-top: 30px;
}

.subTitle {
	color: var(--event-subtitle-color);
	font-family: Rubik;
	font-size: 18px;
	font-weight: normal;
	margin-top: 5px;
}

@media only screen and (max-width: 900px) {
	.Schedule {
		background-image: url(/SVGs/snowflake1.svg), url(/SVGs/snowflake2.svg), url(/SVGs/xGroup.svg);
		background-repeat: no-repeat;
		background-position: left 50px, right 750px, top 100px right 50px;
		background-size: 18%, 18%, 7%;
	}

	.event-title {
		flex-direction: column;
	}

	.schedule-title {
		font-size: 3em;
	}
}

@media only screen and (max-width: 600px) {
	.schedule {
		background-image: url(/SVGs/snowflake1.svg), url(/SVGs/snowflake2.svg), url(/SVGs/xGroup.svg);
		background-repeat: no-repeat;
		background-position: left 150px, right 750px, top 100px right 50px;
		background-size: 18%, 18%, 7%;
	}
}
