.schedule {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	padding: 5% 0;
}

.schedule-title,
.schedule-list {
	width: 70%;
	margin: auto;
}

.schedule-title {
	color: var(--light-primary-color);
	font-family: Coolvetica;
	font-size: 3rem;
}

.schedule-list {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.schedule-list-item {
	display: grid;
	grid-template-columns: 10rem auto;
	gap: 2rem;
}

.event-card {
	grid-column: 1;
	display: grid;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1;
	padding: 1rem;
	border: 3px solid var(--light-primary-color);
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
	transition: transform 330ms ease-in-out;
	font-family: Coolvetica;
}

.event-card:hover {
	transform: scale(1.05);
	transition: transform 330ms ease-in-out;
}

.event-month {
	font-size: 2rem;
	font-weight: normal;
	color: var(--light-primary-color);
}

.event-day {
	margin: auto;
	font-size: 5rem;
	font-weight: normal;
	color: var(--light-primary-color);
}

.event-details {
	grid-column: 2;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-family: Rubik;
}

.event-heading {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
}

.event-title {
	font-size: 2rem;
	font-weight: normal;
	color: var(--light-primary-color);
	font-family: Coolvetica;
	text-align: center;
}

.sub-title {
	font-size: 1.125rem;
	color: var(--light-primary-color);
}

.event-description {
	margin: 0;
	color: var(--light-primary-color);
}

@media only screen and (max-width: 600px) {
	.schedule {
		background-image: url(/SVGs/snowflake1.svg), url(/SVGs/snowflake2.svg), url(/SVGs/xGroup.svg);
		background-repeat: no-repeat;
		background-position: left 150px, right 750px, top 100px right 50px;
		background-size: 18%, 18%, 7%;
	}

	.schedule-list-item {
		grid-template-columns: 1fr;
	}

	.event-card {
		margin: 3rem auto 1rem;
	}

	.event-details {
		grid-column: 1;
	}

	.event-details,
	.event-heading {
		justify-content: center;
	}
}
