@font-face {
  font-family: Rubik;
  src: url(../../assets/fonts/rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: Coolvetica;
  src: url(../../assets/fonts/coolvetica/coolvetica\ rg.otf);
}

.faqContainer {
  display: flex;
  flex-direction: column;
  column-gap: 5000px;
  margin: 100px;
}

.faqHeader {
  font-family: Coolvetica;
  margin-bottom: 3%;
  font-size: 3.25em;
}

.questionContainer {
  display: flex;
  flex-direction: column;
}

.questionContainer:hover {
  background-color: "#eaeaea";
}

.questionContainer:before {
  display: "none";
}

.question {
  color: #5c71ad;
  font-size: 32;
  font-weight: bold;
  font-family: Rubik;
}

.answer {
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-family: Rubik;
}
