.container {
	/* Note there are colors embed in the MUI in FAQ.jsx which are not referenced here*/
	--title-text-color: var(--dark-color);
	--question-text-color: var(--medium-primary-color);
	--answer-text-color: var(--dark-color);
	--question-container-hover-color: var(--light-button-hover-color);

	display: flex;
	flex-direction: column;
	color: var(--title-text-color);
	transition: 0.5s;
	margin: auto;
	width: 80%;
	font-weight: bold;
	font-family: Rubik;
	gap: 2vh;
}

.header {
	font-family: Coolvetica;
	font-size: 3em;
	font-weight: normal;
}

.quesAns-container {
	margin: auto;
}

.question-container {
	display: flex;
	flex-direction: column;
}

.question-container:hover {
	background-color: var(--question-container-hover-color);
}

.question-container:before {
	display: "none";
}

.question {
	color: var(--question-text-color);
	font-size: 32;
	font-family: Rubik;
}

.answer {
	color: var(--answer-text-color);
	font-size: 16px;
	font-family: Rubik;
}
