.button button {
	background: linear-gradient(180deg, var(--light-tertiary-color) 0%, var(--light-primary-color) 100%);
	border: none;
	border-radius: 2rem;
	transition: all 0.3s ease-in-out;
	color: var(--dark-primary-color);
	font-size: 1.5rem;
	white-space: nowrap;
	padding: 1rem 2rem;
	cursor: pointer;
	font-family: Coolvetica;
}

.button button:hover {
	transform: scale(1.05);
}
