.button button {
	background: linear-gradient(180deg, var(--light-tertiary-color) 0%, var(--light-primary-color) 100%);
	border: none;
	border-radius: 2rem;
	transition: all 0.3s ease-in-out;
	color: var(--dark-primary-color);
	font-size: 1.5rem;
	white-space: nowrap;
	padding: 1rem 2rem;
	cursor: pointer;
	font-family: Coolvetica;
}

.button button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.button button:hover {
	transform: scale(1.05);
}

.button button:disabled:hover {
	transform: none;
}

.button button:active {
	transform: scale(0.95);
}

.button button:disabled:active {
	transform: none;
}

@media screen and (max-width: 768px) {
	.button button {
		font-size: 1rem;
		padding: 0.5rem 1rem;
	}
}
