.button {
	--button-color: var(--light-primary-color);
	--button-hover-color: var(--primary-button-hover-color);
	--button-text-color: #FFF3B6;
	--button-box-shadow: var(2px 3px 5px 0px rgba(0, 0, 0, 0.25) inset);
	margin: 3vmin auto;
}

.button button {
	box-shadow: var(--button-box-shadow);
	filter: drop-shadow(0.5px 5px 7.5px rgba(132, 22, 24, 0.20));
	border: none;
	border-radius: 100px;
	color: var(--button-text-color);
	transition: 1s;
	font-size: clamp(1rem, 3vmin, 5rem);
	white-space: nowrap;
	padding: clamp(0.75rem, 2vmin, 5rem) calc(4 * clamp(0.75rem, 1vmin, 5rem));
	cursor: pointer;
	font-family: Rubik;
}

.button button:hover {
	background-color: var(--button-hover-color);
}
