svg :is(#leaf-3_3, #leaf-2_2){
	animation: leaf 3s linear forwards;
}

svg :is(#leaf-1_3, #leaf-2_3){
	animation: leaf 8s linear forwards;
}

svg #leaf-1_4 {
	animation: leaf 5s linear forwards;
}

svg :is(#leaf-2_4, #leaf-1_3) {
	animation: disappearleaf 3s linear forwards;
}

svg :is(#leaf-1, #leaf-2, #leaf-3){
	animation: leafDrop 3s linear forwards;
}

svg #countdown{
	animation: halo 10s linear infinite alternate;
	transform-box: fill-box;
	transform-origin: center;
}

svg #red-flag {
	animation: flag 1s linear infinite alternate;
	transform-box: fill-box;
	transform-origin: top left;
}

svg #Clouds {
	animation: clouds 100s linear infinite alternate;
}

svg :is(#cloud-2, #cloud-3) {
	animation: solo 80s linear infinite alternate;
}

svg #cloud-3 {
	animation-duration: 80s;
}

svg :is(#minute-arm, #hour-arm) {
	animation: clock linear infinite;
	transform-box: fill-box;
}

svg #hour-arm {
	animation-duration: 3600s;
	transform-origin: top right;
}

svg #minute-arm {
	animation-duration: 60s;
	transform-origin: top left;
}

svg :is(#bird-1, #bird-3, #bird-4, #bird2-new) {
	animation: flap 1s linear infinite alternate;
}

svg #bird-2 {
	animation: flying 5s ease-in forwards;

}
/* bird-2_new was added by hand in svg to animate bird */

svg #Bird-Fly-Down{
	animation: coming 9s forwards;
} 

svg #Bird-Hover{
	animation: flap 1s linear infinite alternate
}

svg #bird-4 {
	animation-duration: 2s;
	animation-delay: 1s;
}

svg #bird-3 {
	animation-duration: 1s;
}

svg #bird-1 {
	animation: light 2s infinite alternate;
}

svg :is(#cathedral-light, #SupremeCourtLeftLight, #supremeCourtRightLight) {
	animation: s-light 1s infinite alternate;
}

@keyframes s-light {
	50% {
		transform: rotateX(-2deg);
	}
}

@keyframes light {
	50% {
		transform: rotateX(5deg) skewX(0.05deg);
	}
}

@keyframes leaf {
	from {
		transform: translateY(-5vh);
	}
	to {
		transform: translateY(2vh);
	}
}

@keyframes leafDrop {
	0% {
		transform: translate(-0.2vw, -1vh);
	}
	
	100% {
		transform: translate(0, 0);
	}
}

@keyframes disappearleaf {
	0% {
		transform: translateY(-5vh);
	}
	95% {
		transform: translateY(8vh);
		opacity: 0.6;
	}
	100% {
		transform: translateY(8.5vh);
		opacity: 0;
	}
}

@keyframes halo {
	50% {
		transform: scale(1.125);
		filter: saturate(1.5);
	}
}

@keyframes flag {
	50% {
		transform: skew(10deg) rotate(10deg);
	}
}

@keyframes clouds {
	0% {
		transform: translateX(-50%);
	}

	100% {
		transform: translateX(50%);
	}
}

@keyframes solo {
	0% {
		transform: translateX(-50%) translateY(10%);
	}

	100% {
		transform: translateX(50%) translateY(10%);
	}
}

@keyframes clock {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes flap {
	0% {
		transform: translateY(-2px);
	}

	100% {
		transform: translateY(2px);
	}
}

@keyframes flying {
	0% {
		transform: translate3d(100, 0, 0);
		transform: rotate(0deg);
	}

	100% {
		transform: translate3d(-350px, 700px, 0);
		transform: rotate(90deg);
	}
}

@keyframes coming {
	0% {
		transform: translate3d(200px, 100px, 0);
		opacity: 0;
		transform: rotate(-5deg)
		
	}
	100% {
		opacity: 1;
		transform: rotate(0deg);
	}
}
