@font-face {
	font-family: Rubik;
	src: url(../../assets/fonts/rubik/Rubik-Regular.ttf);
}

@font-face {
	font-family: Coolvetica;
	src: url(../../assets/fonts/coolvetica/coolvetica\ rg.otf);
}

.HeroHeading {
	display: grid;
	place-items: center;
	width: 100%;
}

.BannerLogo {
	width: calc(10 * clamp(1rem, 4vmin, 10rem));
}

h3 {
	color: #3b4779;
	font-family: Coolvetica;
	font-size: clamp(1rem, 2.5vmin, 5rem);
	font-weight: 500;
}

.HeroButton {
	margin: 3vmin auto;
	z-index: 1;
}

.HeroButton button {
	background-color: #5c71ad;
	border: none;
	border-radius: 100px;
	color: white;
	transition: 1s;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.05);
	font-size: clamp(1rem, 1vmin, 5rem);
	white-space: nowrap;
	padding: clamp(.75rem, 1vmin, 5rem) calc(2 * clamp(.75rem, 1vmin, 5rem));
	cursor: pointer;
	font-family: Rubik;
}

.HeroButton button:hover {
	background-color: #3f4e77;
}

.HeroImg {
	height: 100%;
	width: 100%;
	margin-top: -27.5%;
	margin-bottom: -30%;
	pointer-events: none;
}

/* Hero SVG animations */
svg .snow {
	animation: snow 100s linear infinite;
}

svg .halo {
	animation: halo 10s linear infinite alternate;
	transform-box: fill-box;
	transform-origin: center;
}

svg #flag {
	animation: flag 1s linear infinite alternate;
	transform-box: fill-box;
	transform-origin: top left;
}

svg .cloud {
	animation: clouds 100s linear infinite alternate;
}

svg :is(#ClockLeft, #ClockRight) {
	animation: clock linear infinite;
	transform-box: fill-box;
}

svg #ClockLeft {
	animation-duration: 3600s;
	transform-origin: top right;
}

svg #ClockRight {
	animation-duration: 60s;
	transform-origin: top left;
}

svg :is(#leftbird, #rightbird) {
	animation: flap 1s linear infinite alternate;
}

svg #leftbird {
	animation-duration: 2s;
	animation-delay: 1s;
}

svg #rightbird {
	animation-duration: 1s;
}

@keyframes snow {
	0% {
		transform: translate(-1vw, -50vh);
		opacity: 0;
	}

	10%,
	95% {
		opacity: 1;
	}

	100% {
		transform: translate(1vw, 0vh);
		opacity: 0;
	}
}

@keyframes halo {
	50% {
		transform: scale(1.125);
		filter: saturate(1.5);
	}
}

@keyframes flag {
	50% {
		transform: skew(10deg) rotate(10deg);
	}
}

@keyframes clouds {
	0% {
		transform: translateX(-50%);
	}

	100% {
		transform: translateX(50%);
	}
}

@keyframes clock {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes flap {
	0% {
		transform: translateY(-2px);
	}

	100% {
		transform: translateY(2px);
	}
}
