.hero {
	--hero-heading: var(--dark-primary-color);
	--hero-btn-background-color: var(--dark-primary-color);

	/* countdown colours */
	--count-down-border: var(--medium-secondary-color);
	--count-down-background-color: var(--medium-primary-color);
	--countdown-item-color: var(--medium-secondary-color);

	/* background gradient */
	background: var(--color-gradient);

	background-repeat: no-repeat;
}

.hero-heading {
	position: absolute;
	display: grid;
	place-items: center;
	inset: max(calc(17.5rem - 10vw), 5vmax) 0 auto 0;
	text-align: center;
	width: fit-content;
	margin: auto;
	gap: 1.5vh;
}

.location-date-heading {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	gap: 1ch;
}

.location-date-heading .location {
	display: flex;
	gap: 0.5ch;
	align-items: center;
}

.location-pin {
	height: 1.2rem;
}

.banner-logo {
	width: calc(10 * clamp(1rem, 5vmin, 10rem));
}

.hero-heading h2 {
	color: var(--hero-heading);
	font-family: Coolvetica;
	font-size: clamp(1rem, 3.5vmin, 5rem);
	font-weight: 500;
}

.hero-heading h3 {
	color: var(--hero-heading);
	font-size: clamp(1rem, 2vmin, 5rem);
	font-weight: normal;
}

.hero-img {
	height: 100vh;
	height: 100svh;
	display: flex;
	align-items: flex-end;
}

.hero-img svg {
	width: 100%;
}

.hero-input {
	padding: 1rem;
	border: none;
	border-radius: 1rem;
	font-family: Rubik;
	color: var(--dark-primary-color);
	background-color: var(--light-tertiary-color);
	transition: all 0.3s ease-in-out;
}

.hero-input:hover,
.hero-input:focus {
	outline: none;
	box-shadow: 0 0 0 3px var(--dark-primary-color);
	background-color: var(--light-secondary-color);
}

.hero-input::placeholder {
	color: var(--dark-primary-color);
}

.hero-form {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;
}

.hero-btn {
	background-color: var(--hero-btn-background-color);
	color: var(--light-color);
	cursor: pointer;
	white-space: nowrap;
	border: none;
	font-family: Coolvetica;
	font-size: 1.125rem;
	border-radius: 1rem;
	padding: 0.75rem;
}

.hero-btn-icon {
	height: 1rem;
	width: 1rem;
	vertical-align: middle;
}

.countdown-dialog,
.countdown-dialog-small {
	box-sizing: border-box;
	position: absolute;
	top: calc(30vmin + max(20rem, 20vmin));
	left: 48.5vw;
	z-index: 99;
	transform: translateX(-50%);
	margin: 0;
	padding: max(1rem, 2vmin) max(2rem, 4vmin);
	text-align: center;
	border-radius: 50px;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.05);
	border: 5px solid var(--dark-red);
	background-color: var(--count-down-background-color);
	font-size: 1.5rem;
	opacity: 0;
	pointer-events: none;
	transition: opacity 1s ease-in-out;
	display: flex;
	flex-direction: column;
	gap: max(0.5rem, 2vmin);
}

.countdown-dialog-small {
	display: none;
}

.countdown-dialog[open],
.countdown-dialog-small[open] {
	opacity: 1;
	pointer-events: all;
}

.countdown-dialog:hover,
.countdown-dialog-small:hover {
	opacity: 1;
	pointer-events: all;
}

.countdown-header,
.countdown-header-small {
	color: var(--dark-red);
	margin: 0;
	font-family: Rubik;
}

.countdown-items-container,
.countdown-items-container-small {
	display: flex;
	justify-content: space-between;
}

.countdown-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.countdown-item h3 {
	font-size: 1.5rem;
	font-family: Rubik;
	font-weight: normal;
}

.countdown-item h4 {
	color: var(--dark-red);
	font-weight: normal;
}

@media only screen and (max-width: 730px) {
	.countdown-dialog {
		display: none;
	}

	.countdown-dialog-small {
		display: flex;
		font-size: 1rem;
		top: calc(30vmin + max(28rem, 20vmin));
	}
}
