.hero {
	--hero-heading: var(--medium-primary-color);

	/* countdown colours */
	--count-down-border: var(--medium-primary-color);
	--count-down-background-color: var(--background-color);
	--countdown-item-color: var(--medium-primary-color);

	/* hero animation colours */
	--snow-svg-color: snow;

	/* background gradient */
	background: var(--color-gradient);

	background-repeat: no-repeat;
}

.hero-heading {
	position: absolute;
	display: grid;
	place-items: center;
	inset: max(7.5rem, 5vmax) 0 auto 0;
	text-align: center;
	width: fit-content;
	margin: auto;
	gap: 1.5vh;
}

.location-date-heading {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	gap: 1ch;
}

.location-date-heading .location {
	display: flex;
	gap: 0.5ch;
}

.location-pin {
	width: 1rem;
}

.banner-logo {
	width: calc(10 * clamp(1rem, 5vmin, 10rem));
}

.hero-heading h2 {
	color: var(--hero-heading);
	font-family: Coolvetica;
	font-size: clamp(1rem, 3.5vmin, 5rem);
	font-weight: 500;
}

.hero-heading h3 {
	color: var(--hero-heading);
	font-size: clamp(1rem, 2vmin, 5rem);
	font-weight: normal;
}

.hero-img svg {
	height: 100%;
	width: 100%;
	margin-top: calc(20rem - 20vw);
	margin-bottom: -35%;
}

.countdown-dialog {
	box-sizing: border-box;
	position: absolute;
	top: calc(40vmin + max(20rem, 20vmin));
	left: 50vw;
	z-index: 99;
	transform: translateX(-50%);
	margin: 0;
	padding: max(1rem, 2vmin) max(2rem, 4vmin);
	text-align: center;
	border-radius: 100px;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.05);
	border: 5px solid var(--count-down-border);
	background-color: var(--count-down-background-color);
	font-size: clamp(0.75rem, 2vmin, 5rem);
	opacity: 0;
	pointer-events: none;
	transition: opacity 1s ease-in-out;
	display: flex;
	gap: max(1rem, 5vmin);
}

.countdown-dialog[open] {
	opacity: 1;
	pointer-events: all;
}

.countdown-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.countdown-item h3 {
	font-size: 1.5em;
	font-family: Rubik;
	font-weight: normal;
}

.countdown-item h4 {
	color: var(--countdown-item-color);
	font-weight: normal;
}
