.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 5rem 1rem 0;
	background: linear-gradient(180deg,
			#640718 0%,
			#800a1f 2.76%,
			#8e0b23 5.53%,
			#84010b 19.33%,
			#8e0b23 24.35%,
			#9c0e1f 29.97%,
			#a31120 100%);
}

@media screen and (min-width: 768px) {
	.wrapper {
		padding: 5rem 20% 0;
	}
}
