.team {
	overflow: hidden;
	mask-image: linear-gradient(90deg, transparent 0%, black 10% 90%, transparent 100%);
	-webkit-mask-image: linear-gradient(90deg, transparent 0%, black 10% 90%, transparent 100%);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: var(--light-primary-color);
	margin-top: 3rem;
	gap: 2rem;
}

.header-container {
	display: flex;
	padding-right: 2rem;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.carousel-track {
	display: flex;
	width: 100%;
	gap: 1rem;
}

@keyframes marquee {
	from {
		left: translateX(0);
	}
	to {
		transform: translateX(-150%);
	}
}

.marquee-group {
	animation: marquee 90s linear infinite;
	display: flex;
	gap: 1rem;
	padding: 0.5rem 0;
}

.team-member {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 0.1rem solid var(--light-primary-color);
	box-shadow: 0 0 0.5rem var(--light-secondary-color);
	border-radius: 50%;
	overflow: hidden;
	transition: 0.2s ease;
}

.team-member:hover {
	transform: scale(1.05);
}

.tooltip-text {
	text-align: center;
}

@media (max-width: 768px) {
	.marquee-group {
		animation: marquee 120s linear infinite;
	}
}
