.about {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.about-text {
	flex: 1;
}

.about-text p {
	color: var(--light-primary-color);
	font-family: Rubik;
	font-size: 1.5rem;
	font-weight: 450;
}

.frame {
	flex: 1;
	aspect-ratio: 16/9;
	position: relative;
	margin: auto 4rem;
}

.frame iframe {
	width: 100%;
	height: 100%;
	border: 5px solid var(--light-primary-color);
	/* No small gap on both sides of the iframe */
	box-sizing: content-box;
}

.frame img {
	position: absolute;
}

.frame img.left-leaves {
	bottom: -5rem;
	left: -4rem;
}

.frame img.right-leaves {
	top: -5rem;
	right: -4rem;
}

@media screen and (max-width: 1200px) {
	.about {
		flex-direction: column;
	}

	.frame {
		margin: 5rem;
	}
}

@media screen and (max-width: 768px) {
	.frame {
		margin: 4rem 1rem;
	}

	.frame img.left-leaves,
	.frame img.right-leaves {
		display: none;
	}
}

@media screen and (max-width: 510px) {
	.about-text p {
		font-size: 1rem;
	}
}
