.about {
	--about-text-sidebar: var(--dark-color);
	--mascot-drop-shadow: var(--highlight-color);

	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: auto;
	transition: 0.5s;
	margin-bottom: 3rem;
	gap: 2rem;
}

.about h1 {
	font-family: Coolvetica;
	font-size: 3em;
	font-weight: normal;
}

.aboutText {
	width: 50%;
}

.about-text p {
	border-left: 5px solid var(--about-text-sidebar);
	padding-left: 2rem;
	font-family: Rubik;
	font-size: max(1rem, 1.15vmin);
	line-height: max(2rem, 2.5vmin);
}

img.mascot {
	width: 40vmin;
	margin: auto;
	/* Similar syntax to box-shadow */
	filter: drop-shadow(-2px -4px 22px var(--mascot-drop-shadow));
}

@media screen and (max-width: 1024px) {
	.about {
		flex-direction: column;
	}

	.about-text {
		width: 100%;
	}

	img.mascot {
		width: 50vmin;
	}
}
