.About {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: auto;
	transition: 0.5s;
	margin-bottom: 3rem;
	gap: 2rem;
}

.About h1 {
	font-family: Coolvetica;
	font-size: 3em;
	font-weight: normal;
}

.AboutText {
	width: 50%;
}

.AboutText p {
	border-left: 5px solid black;
	padding-left: 2rem;
	font-family: Rubik;
	font-size: max(1rem, 1.15vmin);
	line-height: max(2rem, 2.5vmin);
}

img.Mascot {
	width: 40vmin;
	margin: auto;
	/* Similar syntax to box-shadow */
	filter: drop-shadow(-2px -4px 22px #abeffb);
}

@media screen and (max-width: 1024px) {
	.About {
		flex-direction: column;
	}

	.AboutText {
		width: 100%;
	}

	img.Mascot {
		width: 50vmin;
	}
}
