.about {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	gap: 2rem;
}

.about h1 {
	font-family: Coolvetica;
	font-size: 3rem;
	font-weight: normal;
	letter-spacing: 0.25rem;
	color: var(--light-primary-color);
	margin-top: 4rem;
}

.about-text {
	width: 50%;
}

.about-text p {
	color: var(--light-primary-color);
	font-family: Rubik;
	font-size: 1.5rem;
}

.frame {
	width: 40%;
	aspect-ratio: 16/9;
	position: relative;
	margin: auto;
}

.frame iframe {
	box-sizing: border-box;
	border: 5px solid var(--light-primary-color);
	width: 100%;
	height: 100%;
}

.frame img {
	position: absolute;
}

.frame .left-leaves {
	bottom: -5rem;
	left: -4rem;
	background: url("/SVGs/2024/about-stats/left-leaves.svg") no-repeat;
}

.frame .right-leaves {
	top: -5rem;
	right: -4rem;
	background: url("/SVGs/2024/about-stats/right-leaves.svg") no-repeat;
}

@media screen and (max-width: 1200px) {
	.about {
		flex-direction: column;
	}
}
