@font-face {
  font-family: Rubik;
  src: url(../../assets/fonts/rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: Coolvetica;
  src: url(../../assets/fonts/coolvetica/coolvetica\ rg.otf);
}

.About {
  color: black;
  left: 10px;
  text-align: left;
  width: 80%;
  margin-top: -10%;
  transition: 0.5s;
}

.About:hover{
  color: #3B4779;
  transition: 0.5s;
}

.borderL {
  border-left: 5px solid black;
  margin-left: 10%;
}



.about-body{
  margin-left: 20px;
  font-family: Rubik;
  font-size: 18px;
  width: auto;
}

 h1{
  font-family: Coolvetica;
  margin-bottom: 3%;
  font-size: 3em;
  font-weight: normal;
  margin-left: 10%;
  margin-top: -2%;
}

h1{
  font-family: Coolvetica;
  margin-bottom: 3%;
}

@media only screen and (max-width: 600px){
  .borderL{
    margin-left: 40px;
  }
  .about-body{
    width: 100%;
    font-size: 16px;
  }
  .About {
    margin-top: 0%;
  }
}
  