main {

	--input-color: var(--dark-color);
	--button-color: var(--light-primary-color);
	--button-text-color: var(--light-color);
	--button-text-hover-color: var(--primary-button-hover-color);
	background: var(--color-gradient);

	height: 100vh;
	background-repeat: no-repeat;
	display: grid;
	place-items: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

input {
	font-size: 1rem;
	border-radius: 1rem;
	padding: 1rem;
	width: 100%;
	background: hsl(0, 0%, 0%, 10%);
	border: none;
	color: var(--input-color);
}

button {
	background-color: var(--button-color);
	border: none;
	border-radius: 100px;
	color: var(--button-text-color);
	transition: 1s;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.05);
	font-size: clamp(1rem, 1vmin, 5rem);
	white-space: nowrap;
	padding: clamp(0.75rem, 1vmin, 5rem) calc(2 * clamp(0.75rem, 1vmin, 5rem));
	cursor: pointer;
	font-family: Rubik;
}

button:hover {
	background-color: var(--button-text-hover-color);
}
