.navbar {
	--background-on-scroll: var(--light-tertiary-color);
	--link-color: var(--dark-primary-color);
	--link-underline-color: var(--dark-primary-color);
	--box-shadow-color: rgba(0, 0, 0, 0.1);

	box-sizing: border-box;
	position: fixed;
	display: flex;
	justify-content: space-between;
	height: 4.5rem;
	width: 100%;
	padding-right: 1rem;
	gap: 1rem;
	transition: background-color 0.5s ease;
	pointer-events: auto;
}

.navbar[data-scrolled="true"] {
	background-color: var(--background-on-scroll);
	box-shadow: 0 0 10px var(--box-shadow-color);
}

.navbar ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 100%;
	gap: 1rem;
}

.logo {
	cursor: pointer;
}

.navbar li {
	height: 100%;
}

.navbar li .link {
	box-sizing: border-box;
	position: relative;
	color: var(--link-color);
	font-weight: bolder;
	font-size: 1rem;
	text-decoration: none;
	font-family: Rubik;
	cursor: pointer;
	height: 100%;
	display: flex;
	align-items: center;
}

.navbar li:not(.logo) .link::after {
	background: var(--link-underline-color);
	content: "";
	position: absolute;
	bottom: calc(50% - 1rem);
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 1rem;
	opacity: 0;
	transform: translateY(3px);
	transition: opacity 0.3s ease, transform 0.3s ease-in-out;
}

.navbar li:not(.logo) .link:is(.active, :hover)::after {
	opacity: 0.8;
	transform: translateY(0);
}

.navbar .left-side-buttons {
	margin-right: auto;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.square-button {
	display: flex;
	align-items: center;
	background: none;
	border: none;
	padding: 1rem;
	color: var(--link-color);
	font-weight: bolder;
	font-size: 1rem;
	text-decoration: none;
	font-family: Rubik;
	cursor: pointer;
	border: 3px solid transparent;
	border-radius: 5px;
	transition: border 0.3s ease;
	height: 40%;
}

.square-button:hover {
	border: 3px solid var(--link-color);
}

.anchor-2023 {
	text-decoration: none;
	color: var(--link-color);
}

.sidebar-icon {
	display: none;
	height: 100%;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.sidebar-icon div {
	width: 1.75rem;
	height: 0.25rem;
	background-color: var(--link-color);
	margin: 0.3rem 0;
	transition: 0.5s;
	border-radius: 0.25rem;
}

.sidebar-open :nth-child(1) {
	transform: translate(0, 1.2ch) rotate(-45deg);
}

.sidebar-open :nth-child(2) {
	opacity: 0;
}

.sidebar-open :nth-child(3) {
	transform: translate(0, -1.2ch) rotate(45deg);
}

@media (max-width: 940px) {
	.navbar ul:not(.left-side-buttons) {
		display: none;
	}

	.sidebar-icon {
		display: block;
	}
}

@media (max-width: 375px) {
	.navbar ul.left-side-buttons {
		margin: 0;
		margin-right: auto;
		gap: 0;
	}
}
