.sidebar {
	--sidebar-color: var(--light-secondary-color);
	--link-color: var(--dark-primary-color);
	--link-color-hover: var(--dark-primary-color);

	box-sizing: border-box;
	position: fixed;
	inset: 0;
	z-index: -1;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	height: 100dvh;
	padding: 8rem 0 0 0;
	gap: 3.5rem;
	overflow-y: auto;
	color: var(--link-color);
	background-color: var(--sidebar-color);
	transform: translateX(100%);
	pointer-events: none;
	transition: transform 0.5s cubic-bezier(0.33, 1, 0.68, 1), visibility 0s 0.5s;
}

@media (max-height: 600px) {
	.sidebar {
		justify-content: flex-start;
		padding: 6rem 0 2rem;
	}
}

.sidebar ul {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.sidebar .links {
	flex-direction: column;
	gap: 1.5rem;
	font-family: "Rubik";
	font-size: 2rem;
}

.sidebar .links a {
	font-weight: 500;
	transition: color 0.5s ease;
	font-family: "Rubik";
}

.sidebar .links a:hover {
	color: var(--link-color-hover);
}

.sidebar .media {
	gap: 2rem;
}

.sidebar a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 2.75rem;
	min-height: 2.75rem;
	padding: 0.25rem 0.75rem;
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

@media (max-width: 940px) {
	.sidebar-open {
		z-index: 0;
		visibility: visible;
		transform: translateX(0);
		pointer-events: auto;
		transition-delay: 0s;
	}
}
