.navbar {
	--background-on-scroll: var(--background-color);
	--link-color: var(--medium-primary-color);
	--link-underline-color: var(--medium-primary-color);
	position: fixed;
	top: 0;
	height: 5rem;
	width: 100%;
	z-index: 100;
	transition: all 0.5s ease;
	display: flex;
	justify-content: space-between;
}

.navbar[data-scrolled="true"] {
	background-color: var(--background-on-scroll);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0 2rem;
	height: 100%;
	gap: 1rem;
}

.logo {
	cursor: pointer;
}

li {
	height: 100%;
}

li .link {
	box-sizing: border-box;
	position: relative;
	color: var(--link-color);
	font-weight: bolder;
	font-size: 1rem;
	text-decoration: none;
	font-family: Rubik;
	cursor: pointer;
	height: 100%;
	display: flex;
	align-items: center;
}

li:not(.logo) .link::after {
	background: var(--link-underline-color);
	content: "";
	position: absolute;
	bottom: calc(50% - 1rem);
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 1rem;
	opacity: 0;
	transform: translateY(3px);
	transition: opacity 0.3s ease, transform 0.3s ease-in-out;
}

li:not(.logo) .link:is(.active, :hover)::after {
	opacity: 0.8;
	transform: translateY(0);
}

.navbar ul.language-selector {
	margin-right: auto;
}

.language-button {
	display: flex;
	background: none;
	border: none;
	color: #3b4779;
	font-weight: bolder;
	font-size: 1rem;
	cursor: pointer;
}

@media (max-width: 940px) {
	.navbar ul:not(.language-selector) .link {
		display: none;
	}

	.navbar {
		position: absolute;
	}

	.navbar[data-scrolled="true"] {
		background-color: transparent;
		box-shadow: none;
	}
}

@media (max-width: 375px) {
	.navbar ul.language-selector {
		margin: 0;
		margin-right: auto;
		gap: 0;
	}
}