.icon-container {
	display: none;
	position: absolute;
	width: 100%;
	height: 5rem;
	align-items: center;
	justify-content: end;
}

.sidebar-icon {
	margin-right: 1rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
	z-index: 9999;
}

.sidebar-change {
	position: fixed;
}
.bar2 {
	width: 1.75rem;
	height: 0.25rem;
	background-color: #3b4779;
	margin: 0.3rem 0;
	transition: 0.4s;
	border-radius: 0.25rem;
}

.bar1,
.bar3 {
	width: 1.75rem;
	height: 0.25rem;
	background-color: #3b4779;
	margin: 0.3rem 0;
	transition: 0.4s;
	border-radius: 0.25rem;
}

.sidebar-change .bar1 {
	transform: translate(0, 8.8px) rotate(-45deg);
}

.sidebar-change .bar2 {
	opacity: 0;
}

.sidebar-change .bar3 {
	transform: translate(0, -8.8px) rotate(45deg);
}

.sidebar-content {
	display: none;
	--media-link-color: var(--dark-color);
	--sidebar-gradient: linear-gradient(
		0deg,
		rgba(239, 203, 255, 1) 0%,
		rgba(236, 211, 247, 1) 48.85%,
		rgba(236, 210, 248, 1) 48.86%,
		#ebd5f5 63.96%,
		#bfcbee 80.96%,
		#bfcbee 81.77%,
		#abeffa 100%
	);
	/*dsdsds*/
}

.nav {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: fixed;
	right: -3200px;
	z-index: 100;
	height: 100%;
	transition: right 0.5s;
	align-items: center;
	padding: 8rem 0 0 0;
	gap: 3.5rem;
	background: var(--sidebar-gradient);
}

.nav-links {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.nav-open {
	right: 0;
}

.nav-closed {
	right: -300%;
}

.link {
	text-decoration: none;
	list-style: none;
	color: #3b4779;
	font-size: 1.75rem;
}

.media-links {
	display: flex;
	justify-content: center;
	font-size: 0.75rem;
	gap: 2rem;
}

.media-links a {
	color: var(--media-link-color);
}

@media (max-width: 940px) {
	.icon-container {
		display: flex;
	}

	.sidebar-content {
		display: block;
	}
}
