.sidebar {
	--list-item-color: var(--dark-button-hover-color);
	--list-item-hover-color: var(--dark-color);
	--media-link-color: var(--dark-color);

	--hamburger-menu-color: var(--medium-primary-color);
	--hamburger-close-button-color: var(--dark-color);

	display: none;
}

@media (max-width: 900px) {
	.sidebar {
		display: block;
	}

	.sidebar .media-links {
		font-size: inherit;
		margin: auto;
	}

	.sidebar .media-links a {
		color: var(--media-link-color);
		padding: 0 0.5em;
	}

	/* Position and sizing of burger button */
	.bm-burger-button {
		position: absolute;
		width: 2em;
		height: 2em;
		right: calc(1.5em + 8px);
		top: calc(1.5em + 8px);
	}

	/* Color/shape of burger icon bars */
	.bm-burger-bars {
		background: var(--hamburger-menu-color);
	}

	/* Position and sizing of clickable cross button */
	.bm-cross-button {
		transform: scale(2.5);
		margin: 1.5em;
	}

	/* Color/shape of close button cross */
	.bm-cross {
		background: var(--hamburger-close-button-color);
	}

	/*
	Sidebar wrapper styles
	Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
	*/
	.bm-menu-wrap {
		position: fixed;
		height: 100%;
	}

	/* General sidebar styles */
	.bm-menu {
		background: var(--background-color);
		font-size: 2em;
		padding: 25% 0 0;
	}

	/* Morph shape necessary with bubble or elastic */
	.bm-morph-shape {
		fill: var(--background-color);
	}

	/* Wrapper for item list */
	.bm-item-list {
		color: var(--list-item-color);
		display: flex;
		flex-direction: column;
		gap: 1em;
		padding: 0 2rem;
	}

	/* Individual item */
	.bm-item {
		color: inherit;
		text-align: center;
		text-decoration: none;
		transition: color 0.2s;
		font-family: Rubik;
		font-weight: normal;
		letter-spacing: 0.05em;
	}

	.bm-item:hover {
		color: var(--list-item-hover-color);
		cursor: pointer;
	}

	/* Styling of overlay */
	.bm-overlay {
		background: rgba(0, 0, 0, 0.3);
	}
}
