.card:hover .card-content {
	transform: rotateY(180deg);
}

.card-content {
	position: relative;
	perspective: 500px;
	width: 100%;
	aspect-ratio: 1;
	cursor: pointer;
	transition: all 0.5s linear;
	transform-style: preserve-3d;
}

.front,
.back {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-radius: 50%;
	background-color: var(--medium-secondary-color);
	backface-visibility: hidden;
}

.front {
	overflow: hidden;
}

img {
	height: 100%;
}

.back {
	transform: rotateY(180deg);
}

.name {
	font-weight: bold;
}

.name,
.role {
	font-family: Rubik;
	text-align: center;
	color: white;
	font-size: max(1rem, 1.15vmin);
	line-height: clamp(1.5rem, 1.4vmin, 2rem);
	margin: 0;
}

.socials {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

.socials a {
	color: white;
}
