.headshots {
	background-color: var(--light-primary-color);
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 5% 10%;
}

.headshots>h1 {
	color: white;
	font-family: Coolvetica;
	font-size: 3em;
	font-weight: normal;
}

.headshots>div {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
	gap: 1rem;
}
