@font-face {
	font-family: Coolvetica;
	src: url(../../assets/fonts/coolvetica/coolvetica\ rg.otf);
}

.Footer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem 1rem;
}

img.FooterLogo {
	width: 10rem;
	height: auto;
	margin: 0 auto;
}

.FooterLogoText {
	margin: auto;
	margin-bottom: 1rem;
	font-family: Coolvetica;
	letter-spacing: 0.05em;
}

.MediaLinks {
	display: flex;
	margin: 0 5%;
	justify-content: center;
	gap: 1rem;
}

@media (max-width: 768px) {
	.MediaLinks {
		justify-content: space-around;
	}
}
