@font-face {
  font-family: Coolvetica;
  src: url(../../assets/fonts/coolvetica/coolvetica\ rg.otf);
}

.Footer {
    justify-content: center;
  }
  
  .FooterBody {
    display: grid;
    place-items: center;
  }
  
  .FooterLogo {
    display: block;
  }
  
  .FooterLogo img {
    width: 200px;
    height: auto;
    margin: 0px auto;
    padding-top: 50px;
  }
  
  .LogoText {
    display: block;
    font-size: 15px;
    margin-bottom: 25px;
    font-family: Coolvetica;
    font-weight: normal;
    letter-spacing: 0.05em;
  }

  .FooterContainer{
    display: block;
    margin-bottom: 50px;
  }

  .MediaLinks a {
    margin: 0px;
  }

  @media only screen and (max-width: 10000px) {
  
    .MediaLinks a {
      padding: 15px;
    }
  }
  @media only screen and (max-width: 600px) {
  
    .MediaLinks a {
      padding: 5px;
    }
  }
  @media only screen and (max-width: 450px) {
  
    .MediaLinks a {
      padding: 0px;
    }
  }

  @media only screen and (max-width: 353px) {
  
    .MediaLinks a box-icon {
      margin-right: 2px;
    }
  }