.Footer {
    justify-content: center;
  }
  
  .FooterBody {
    display: grid;
    place-items: center;
  }
  
  .FooterLogo {
    display: block;
  }
  
  .FooterLogo img {
    width: 200px;
    height: auto;
    margin: 0px auto;
    padding-top: 50px;
  }
  
  .LogoText {
    display: block;
    font-size: 12px;
    margin-bottom: 25px;
  }
  .FooterContainer{
    display: block;
    margin-bottom: 50px;
  }
  .MediaLinks a {
    margin: 0px;
  }
  @media only screen and (max-width: 10000px) {
  
    .MediaLinks a {
      padding: 15px;
    }
  }
  @media only screen and (max-width: 600px) {
  
    .MediaLinks a {
      padding: 5px;
    }
  }
  @media only screen and (max-width: 450px) {
  
    .MediaLinks a {
      padding: 0px;
    }
  }