.collaborators {
	display: flex;
	flex-direction: column;
	margin: 6% auto;
	gap: 2rem;
}

.collaborators h1 {
	width: 80%;
	margin: auto;
	color: var(--dark-text-color);
	font-family: Coolvetica;
	font-size: 3em;
	font-weight: normal;
}

.mountain-flags svg {
	width: 100%;
	height: 100%;
}
