@font-face {
	font-family: Rubik;
	src: url(/fonts/rubik/Rubik-Regular.ttf);
}

@font-face {
	font-family: Coolvetica;
	src: url(/fonts/coolvetica/coolvetica\ rg.otf);
}

.Collaborators h1 {
	color: #242a42;
	font-family: Coolvetica;
	margin: 6% 10%;
	font-size: 3em;
	font-weight: normal;
}

.Mountain {
	width: 100%;
	height: 100%;
	margin-bottom: 6%;
}
