.testimonials {
	margin: 0;
	color: var(--light-primary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.testimonials h1 {
	text-align: center;
}

.testimonial-body {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 70%;
	gap: 2rem;
	position: relative;
	margin: 2rem 0;
	isolation: isolate;
}

.testimonial-img {
	box-sizing: border-box;
	height: 16rem;
	width: 16rem;
	min-height: 16rem;
	min-width: 16rem;
	aspect-ratio: 1;
	object-fit: scale-down;
	border-radius: 50%;
	padding: 1rem;
	background-color: var(--light-color);
	border: 0.5vw solid var(--light-primary-color);
	box-shadow: 0 0 2rem var(--light-secondary-color);
}

.left-leaves,
.right-leaves {
	position: absolute;
	height: 150%;
	z-index: -1;
}

.left-leaves {
	left: -10rem;
}

.right-leaves {
	right: -10rem;
}
.carousel-control {
	display: flex;
	gap: 2rem;
	margin-top: auto;
}

.carousel-navigation {
	box-sizing: border-box;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	opacity: 0.8;
	transition: opacity 0.3s ease;
}

.carousel-navigation:hover {
	opacity: 1;
}

.testimonial-container {
	flex: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.testimonial-content-container {
	margin-top: auto;
}

.carousel-dots {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.dot {
	width: 0.5rem;
	height: 0.5rem;
	background-color: var(--light-secondary-color);
	opacity: 0.5;
	border-radius: 50%;
	margin: 0 0.5em;
	cursor: pointer;
	transition: opacity 0.3s ease;
}

.dot:hover {
	opacity: 0.5;
}

.dot.active {
	opacity: 1;
}

.prev-button,
.next-button {
	border: solid var(--light-secondary-color);
	border-width: 0 0.5rem 0.5rem 0;
	border-radius: 20%;
	display: inline-block;
	padding: 0.5rem;
	background-color: transparent;
	cursor: pointer;
	transition: opacity 0.3s ease;
}

.prev-button {
	transform: rotate(135deg);
}

.next-button {
	transform: rotate(-45deg);
}

.prev-button:hover,
.next-button:hover {
	opacity: 0.5;
}

@media (max-width: 800px) {
	.testimonial-sub-heading {
		max-width: 100%;
	}

	.testimonial-body {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.testimonial-container {
		align-items: center;
	}
}

@media screen and (max-width: 1024px) {
	.left-leaves,
	.right-leaves {
		display: none;
	}
}
