@font-face {
  font-family: Rubik;
  src: url(../../assets/fonts/rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: Coolvetica;
  src: url(../../assets/fonts/coolvetica/coolvetica\ rg.otf);
}

.Sponsors {
  color: black;
  left: 10;
  text-align: left;
  margin-top: 5%;
  width: 80%;
  transition: 0.5s;
}

.Sponsors:hover{
  color: #3B4779;
  transition: 0.5s; 
}

.borderW {
  border-left: 5px solid black;
  margin-left: 10%;
}



.sponsors-body{
  margin-left: 20px;
  font-family: Rubik;
  font-size: 18px;
  width: auto;
}

h1{
  font-family: Coolvetica;
  margin-bottom: 3%;
  font-size: 3em;
}

@media only screen and (max-width: 600px){
  .borderW{
    margin-left: 40px;
  }
  .sponsors-body{
    width: 100%;
    font-size: 16px;
  }
  h1{
    margin-bottom: 10%;
  }

  .Sponsors{
    margin-top: 20%;
  }
}
    