:is(#panel1, #panel2, #panel3):hover {
	transform: translateX(-5px);
	transition: 0.3s all;
}

:is(#panel1, #panel2, #panel3):not(:hover) {
	transform: translateX(0);
	transition: 0.3s all;
}

:is(#panel4, #panel5, #panel6):hover {
	transform: translateX(5px);
	transition: 0.3s all;
}

:is(#panel4, #panel5, #panel6):not(:hover) {
	transform: translateX(0);
	transition: 0.3s all;
}

.tower-img {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.tower-img svg {
	transform: translateY(-5%);
	width: 30rem;
}

@media screen and (max-width: 514px) {
	.tower-img svg {
		width: 18rem;
	}
}

.shade {
	pointer-events: none;
	background: linear-gradient(
		180deg,
		rgba(16, 16, 16, 1) 0%,
		rgba(16, 16, 16, 0.4) 10%,
		rgba(16, 16, 16, 0.2) 30%,
		rgba(16, 16, 16, 0.2) 70%,
		rgba(16, 16, 16, 0.6) 90%,
		rgba(16, 16, 16, 1) 100%
	);
}
