.sponsors {
    --text-color: var(--dark-color);
    color: var(--text-color);
    transition: 0.5s;
	width: 80%;
	margin: 6% auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sponsors-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	margin: auto;
}

.sponsors-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 4rem;
	width: 100%;
}

.sponsor-icon-box {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 20%;
}

.sponsor-icon {
	transition: 0.5s;
	object-fit: contain;
}

.icon-large {
	max-height: 200px;
	width: 300px;
}

.icon-medium {
	max-height: 130px;
	width: 250px;
}

.icon-small {
	max-height: 80px;
	width: 200px;
}

.sponsors h1 {
	font-family: Coolvetica;
	font-size: 3em;
	font-weight: normal;
}

.sponsors-text {
	box-sizing: border-box;
	border-left: 5px solid black;
	padding-left: 2rem;
	width: 80%;
	font-family: Rubik;
	font-size: max(1rem, 1.15vmin);
	line-height: max(2rem, 2.5vmin);
}
