.sponsors-collaborators {
	color: var(--light-primary-color);
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.sponsors-collaborators h1 {
	text-align: center;
}

.sponsors {
	margin-top: 7.5rem;
}

.collaborators {
	margin-bottom: 7.5rem;
}

.header {
	display: flex;
	gap: 2rem;
}

.header-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.text {
	font-family: Rubik;
	text-align: center;
	font-size: 2rem;
	font-weight: 450;
	color: var(--light-primary-color);
	margin: 0;
}

.icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	margin: 3rem 0;
}

.icons-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 4rem;
	width: 100%;
}

.icon-box::before,
.icon-box::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 1.5rem;
}

.icon-box::before {
	background: var(--light-primary-color);
	bottom: -1rem;
	left: -1rem;
	filter: drop-shadow(0 0 1rem var(--light-secondary-color));
}

.icon-box::after {
	background: var(--light-color);
	inset: 0;
}

.icon-box {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	isolation: isolate;
	padding: 1rem;
}

.icon {
	object-fit: contain;
}

.icon-large {
	max-height: 12.5rem;
	width: 18rem;
}

.icon-medium {
	max-height: 8rem;
	width: 15rem;
}

.icon-small {
	max-height: 3rem;
	width: 7.5rem;
}

@media screen and (max-width: 1024px) {
	.header img {
		display: none;
	}

	.collaborators {
		margin-bottom: 2rem;
	}
}

@media screen and (max-width: 768px) {
	.sponsors .icons,
	.collaborators .icons-row {
		margin-left: 1rem;
		width: fit-content;
	}
}

@media screen and (max-width: 370px) {
	.icon-large {
		width: 8rem;
	}
}